aside{
    width: 23.1rem;
    background-color: #2c2b2b;
    position:fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 2;
    address,section{
        margin-left: 1rem;
    }
    figure{
        margin-top: 2rem;
        margin-left: 10px;
    }
    &:not(figcaption){
        color:#ffc640;
    }
    figcaption{
        width: 20rem;
        color: #39ff00;
        padding: 5px;
        border: 3px solid #39ff00;
        border-radius: 10px;
    }
    address{
        margin-top: 1rem;
        padding: 10px;
        li{
            padding: 10px;
            i{
                margin-right: 10px;
            }
        }
    }
    section{
        padding: 10px;
    }
}
#asideLogo{
    margin-top: 22.3rem;
}