@media screen and (max-width: 360px){
    #hed{
        height: 600px;
    }
    #front-end--skills::before,#projects::before{
        border-left: 83.5vmin solid transparent;
    }
    #back-end--skills::before{
        border-right: 93vmin solid transparent;
    }
    #hex1,#hex2{
        margin-left: 12vmin;
        margin-bottom: 10em;
    }
}
