section{margin:0px;}

.hexagon {
    background-color: #2b2b2b;
    position: relative;
    width: 180px; 
    height: 115px;
  
    &:before,
    &:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    }
  
    &:before {
    bottom: 100%;
    border-bottom: 40px solid #2b2b2b
    }
  
    &:after {
    top: 100%;
    left: 0px;
    width: 0;
    border-top: 40px solid #2b2b2b
    }
}
#front-end--skills{
    position: relative;
    padding: 2em;
}
.flexo-center{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flexo-right{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}


.hex{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10em;

}

#back-end--skills{
    position: relative;
    padding: 2em;

}
#projects{
    position: relative;
    height: 500px;
    padding: 2em;
}
.projectContainer{
    max-width: 50rem;
    background-color: #2b2b2b;
    padding: 2em;
    box-shadow: 8px 8px #39ff00;

    a{  
        text-decoration: none;
        padding:10px;
        color: #2b2b2b;
        background-color: #ffb300;
        border-radius: 15px;

     }
}
