* {
  margin: 0px; }

header, section {
  height: 650px; }

p {
  color: #ffb300;
  font-size: 12pt; }

i {
  color: #bf00ff; }

.projectContainer, footer, header, #back-end--skills, #contact {
  background-color: #2c2b2b; }

.hUnderlineLight, .hUnderlineBlack {
  max-width: 900px;
  height: 4px;
  margin: 10px auto;
  border-radius: 5px; }

.hUnderlineBlack {
  background-color: #2c2b2b; }

.hUnderlineLight {
  background-color: #ffd268; }

.anchorButton {
  background-color: #bf00ff;
  color: #2c2b2b;
  padding: 15px;
  margin-top: 10px;
  border-radius: 20px;
  text-decoration: none; }
  .anchorButton:hover {
    background-color: #d455ff; }
  .anchorButton:active {
    background-color: #a700df; }

.icon--large {
  width: 110px;
  height: 110px;
  margin-left: 30px; }

.icon-small {
  width: 30px;
  height: 30px; }

.icon--medium {
  width: 45px;
  height: 45px; }

#front-end--skills, #projects {
  background-color: #ffb300; }

footer {
  color: #ffb300;
  display: flex;
  justify-content: space-between; }
  footer div, footer figure {
    display: flex; }
  footer div, footer figure, footer p, footer a {
    margin: 10px 10px; }

header article {
  max-width: 1100px;
  margin: auto;
  padding: 10px; }
  header article p {
    margin-top: 20px; }

#network {
  margin-top: 50px;
  padding: 20px;
  border-top: 2px solid #ffb300;
  display: flex;
  justify-content: center; }
  #network a {
    margin: 10px 10px; }

#downButtonBox {
  margin-top: 7em;
  display: flex;
  justify-content: center; }

#downButton {
  max-width: 20px;
  border-radius: 20px;
  list-style: none;
  font-size: 11px;
  border: 2px solid #ffb300; }
  #downButton div {
    content: " ";
    width: 5px;
    height: 5px;
    margin: 5px 7px;
    background-color: #ffb300;
    border-radius: 50%; }

.bigFont {
  font-size: 40pt;
  font-weight: bold;
  color: #bf00ff; }

.smallFont {
  font-size: 14pt; }

.mediumFont {
  font-size: 30pt;
  font-weight: bold;
  color: #ffd268; }

nav {
  position: fixed;
  top: 10em;
  right: 2em;
  z-index: 2;
  display: flex;
  justify-content: center; }

.bubleMenu a {
  margin-left: 5px;
  background-color: #ffb300;
  color: transparent;
  border: 2px solid #7a7a7a;
  border-radius: 50%; }
  .bubleMenu a:hover {
    color: transparent;
    background-color: #ffd268;
    border: 2px solid #2c2b2b; }
  .bubleMenu a:active {
    color: transparent;
    background-color: #e7a200;
    border: 1px solid #2c2b2b; }

.bubleSpace {
  height: 30px;
  color: transparent; }

.bubleTagBox {
  margin-top: 13px;
  width: 145px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end; }
  .bubleTagBox span {
    margin: 5px; }

.bubleTag {
  visibility: hidden;
  background-color: #2c2b2b;
  color: #ffd268;
  padding: 10px 5px 10px;
  border-radius: 5px;
  position: relative; }
  .bubleTag:after {
    content: "";
    position: absolute;
    top: 40%;
    left: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #2c2b2b; }

.sectionHeaderBlack, .sectionHeaderLight {
  color: #bf00ff;
  padding: 5px;
  border-radius: 5px;
  margin: 10px 20em;
  text-align: center; }

.sectionHeaderBlack {
  background-color: #2b2b2b; }
  .sectionHeaderBlack span {
    color: #ffd268; }

.sectionHeaderLight {
  background-color: #ffd268; }
  .sectionHeaderLight span {
    color: #2b2b2b; }

.hexagonBlack {
  background-color: #2b2b2b; }
  .hexagonBlack:before {
    border-bottom: 40px solid #2b2b2b; }
  .hexagonBlack:after {
    border-top: 40px solid #2b2b2b; }

.hexagonLight {
  background-color: #ffb300; }
  .hexagonLight:before {
    border-bottom: 40px solid #ffb300; }
  .hexagonLight:after {
    border-top: 40px solid #ffb300; }

.hexagonBlack, .hexagonLight {
  position: relative;
  width: 180px;
  height: 115px; }
  .hexagonBlack:before, .hexagonBlack:after, .hexagonLight:before, .hexagonLight:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent; }
  .hexagonBlack:after, .hexagonLight:after {
    top: 100%;
    left: 0px;
    width: 0; }
  .hexagonBlack:before, .hexagonLight:before {
    bottom: 100%; }

#front-end--skills {
  padding: 2em; }
  #front-end--skills span {
    margin: 10px auto; }

.hexBox {
  max-width: 1100px;
  margin: 8em auto 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.hex {
  margin: 5em 5px; }

#back-end--skills {
  padding: 2em; }

#projects {
  padding: 2em; }

#projectsBox {
  margin-top: 50px;
  display: flex;
  justify-content: center; }

.projectContainer {
  width: 500px;
  padding: 2em;
  border-radius: 5px; }
  .projectContainer p {
    margin: 15px 5px 40px; }

/*# sourceMappingURL=index.css.map */
