* {
  margin: 0px; }

header, section {
  height: 650px; }

p, h1, h2, h3, h4, .hUnderline {
  color: #ffb300; }

i {
  color: #bf00ff; }

.projectContainer, footer, header {
  background-color: #2c2b2b; }

.hUnderline {
  max-width: 500px;
  height: 10px; }

.anchorButton {
  background-color: #ffb300;
  color: #2c2b2b;
  padding: 10px;
  border-radius: 15px; }
  .anchorButton:hover {
    background-color: #ffd268; }
  .anchorButton:active {
    background-color: #e7a200; }

.icon--large {
  width: 110px;
  height: 110px;
  margin-left: 30px; }

.icon-small {
  width: 30px;
  height: 30px; }

.icon--medium {
  width: 45px;
  height: 45px; }

#front-end--skills, #projects {
  background-color: #d4d4d4; }

footer {
  color: #ffb300;
  display: flex;
  justify-content: space-between; }
  footer div, footer figure {
    display: flex; }
  footer div, footer figure, footer p, footer a {
    margin: 10px 10px; }

header article {
  max-width: 1100px;
  margin: auto;
  padding: 10px; }
  header article p {
    margin-top: 20px;
    font-size: 12pt; }

#network {
  margin-top: 50px;
  padding: 20px;
  border-top: 2px solid #ffb300;
  display: flex;
  justify-content: center; }
  #network a {
    margin: 10px 10px; }

#downButtonBox {
  margin-top: 7em;
  display: flex;
  justify-content: center; }

#downButton {
  max-width: 20px;
  border-radius: 20px;
  list-style: none;
  font-size: 11px;
  border: 2px solid #ffb300; }
  #downButton div {
    content: " ";
    width: 5px;
    height: 5px;
    margin: 5px 7px;
    background-color: #ffb300;
    border-radius: 50%; }

.bigFont {
  font-size: 40pt;
  font-weight: bold; }

.smallFont {
  font-size: 14pt; }

.mediumFont {
  font-size: 30pt;
  font-weight: bold; }

nav {
  position: fixed;
  top: 10em;
  right: 2em;
  z-index: 2;
  display: flex;
  justify-content: center; }

.bubleMenu a {
  margin-left: 5px;
  background-color: #ffb300;
  color: transparent;
  border: 2px solid #7a7a7a;
  border-radius: 50%; }
  .bubleMenu a:hover {
    color: transparent;
    background-color: #ffd268;
    border: 2px solid #2c2b2b; }
  .bubleMenu a:active {
    color: transparent;
    background-color: #e7a200;
    border: 1px solid #2c2b2b; }

.bubleSpace {
  height: 30px;
  color: transparent; }

.bubleTagBox {
  margin-top: 13px;
  width: 145px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end; }
  .bubleTagBox span {
    margin: 5px; }

.bubleTag {
  visibility: hidden;
  background-color: #2c2b2b;
  color: #ffd268;
  padding: 10px 5px 10px;
  border-radius: 5px;
  position: relative; }
  .bubleTag:after {
    content: "";
    position: absolute;
    top: 40%;
    left: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #2c2b2b; }

.hexagon {
  background-color: #2b2b2b;
  position: relative;
  width: 180px;
  height: 115px; }
  .hexagon:before, .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent; }
  .hexagon:before {
    bottom: 100%;
    border-bottom: 40px solid #2b2b2b; }
  .hexagon:after {
    top: 100%;
    left: 0px;
    width: 0;
    border-top: 40px solid #2b2b2b; }

#front-end--skills {
  position: relative;
  padding: 2em; }

.hex {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10em; }

#back-end--skills {
  position: relative;
  padding: 2em; }

#projects {
  position: relative;
  padding: 2em; }

.projectContainer {
  max-width: 50rem;
  padding: 2em; }
  .projectContainer a {
    text-decoration: none;
    padding: 10px;
    border-radius: 15px; }

/*# sourceMappingURL=index.css.map */
